/tmp
/bin
*.class
*.log
/config/settings.scm
/.settings/org.eclipse.ltk.core.refactoring.prefs
/config/langrid-conf.json
/sample/langrid-conf.json
/target/
/.settings/org.eclipse.wst.validation.prefs
/src/main/resources/langrid-conf.json
